.choose-section{
    padding-bottom: 350px;
}
.choose{
    padding: 100px 0 0 0;
    height: 600px;
    border-radius: 10px;
    background: #2C343E;
}
.choose__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose__title{
    margin-bottom: 32px;
    font-family: Fraunces,serif;
    color: #FEFCF7;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; 
}
.choose__text-wrapper{
    width: 540px;
}
.choose__text{
    text-align: center;
    font-family: Barlow;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    opacity: 0.8;
}
.choose__list{
    margin-top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.choose__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    border-radius: 8px;
    background: #F4F1EB;
    padding: 48px;
}
.choose__item-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose__strong{
    color: #333D4B;
    font-family: Fraunces,serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    margin-bottom: 24px;
    margin-top: 56px;
}
.choose__item-text{
    color: #333D4B;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px
}
.choose__item:hover{
    border-radius: 8px;
    background: #FDD6BA;
}
.choose__item:hover > .choose__item-img{
    filter: invert(100%);
}
.choose__item:active{
    border-radius: 8px;
    background: #0E8784;
}
.choose__item:active > .choose__item-img{
    filter: none;
}
.choose__item:active > .choose__item-text{
    color: #FEFCF7;
}

@media only screen and (max-width:870px){
    .choose__list{
        flex-direction: column;
    }
    .choose__item{
        max-width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 54px;
    }
    .choose__item-cards{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .choose__strong{
        font-family: "Fraunces", serif;
        color: #FEFCF7;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
        margin-top: 0;
        margin-bottom: 16px;
    }
    .choose__item-text{
        text-align: start;
        width: 100%;
        color: #FEFCF7;
        font-family: Barlow;
    }
    .choose__item-img{
        width: 56px;
        height: 56px;
    }
    .choose__item-img3{
        width: 55px;
        height: 39px;
    }
    .choose__item{
        background: #0E8784;
    }
    
}
@media only screen and (max-width:645px){
    .choose{
        height: 900px;
    }
    .choose__item{
        display: flex;
        flex-direction: column;
    }
    .choose__item-cards{
        width: 212px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .choose__text{
        display: none;
    }
    .choose__strong{
        color: #FEFCF7;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-bottom: 24px;
    }
    .choose__item-text{
        color: #FEFCF7;
        text-align: center;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
}