.site-header {
    padding: 44px 0 15px 0;
}

.header {
    
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-link {
    display: inline-block;
}
.header__logo-img {
}