.our-section{
    padding: 85px 0 200px 0;
    
}
.our{
    padding: 1px 20px 0 20px;
    background-image: url("../../images/our-bg-img.svg");
    background-repeat: no-repeat;
    background-position-y: calc(0% - 4px);
    background-position-x: calc(0% + 22px);
    background-size: 1200px;
}
.our__cards{
    @include display();
    margin-top: 136px;
}
.our__list{
    display: flex;
    align-items: center;
   justify-content: space-evenly;
}
.our__content{
    display: flex;
    flex-direction: column;
}
.our__item{
    width: 255px;
    display: flex;
    flex-direction: column;
}
.our__img{
    width: 256px;
    height: 193px;
}
.our__title{
    margin-top: 71px;
    margin-bottom: 24px;
    color: #333D4B;
    text-align: center;
    font-family: Fraunces,serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
}
.our__text{
    color: #333D4B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.our__img1{
    width: 234px;
    height: 170px;
}
@media only screen and (max-width:768px){
    .our{
        padding: 1px 20px 0 20px;
        background-image: url("../images/our-table.png");
        background-repeat: no-repeat;
        background-position-y: calc(0% + 132px);
        background-position-x: calc(50% + 0.923px);
        background-size: 689px 118px;
    }
   .our__cards{
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    gap: 32px;
   }
   .our__content{
    display: flex;
    width: 573px;
    flex-direction: row;
    justify-content: space-between;
   }
    .our__title{
        margin-top: 0;
        margin-bottom: 24px;
        width: 255px;
        color: #333D4B;
        font-family: Fraunces,sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; 
    }
    .our__img{
        width: 255px;
        height: 193px;
    }
    .our__item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .our__cards-texts{
        display: flex;
        flex-direction: column;
    }
    .our__text{
        width: 282px;
        color: #333D4B;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
}